/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

* {
    @apply font-onest font-medium;
}

body {
    @apply bg-[#f6f6f9] text-black;
}